node_modules/
.meteor/.id
settings.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.environment
Dockerfile.local

edf_files/
**/.DS_Store